*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;   
}
$text-shadow: 0px 0px 4px #00000062;
body{
  font-family: poppins;
  background-color: #fbfbfb;
  transition: 0.5s ease;
  overflow-x: hidden;
}
#intro{
  display: flex;
  background: #fbfbfb;
  transition: 0.5s ease;
  width: 100%;
  height: 90vh;
  position: relative;
}
#title{
  display: flex;
  position: relative;
  left: 48%;
  top: 40%;
  transform: translateX(-95px);
  text-align: center;
  text-shadow: $text-shadow;
  transition: 0.5s ease;
}

@keyframes blink{
from{
  transform: rotate(30deg);
}
to{
  transform: rotate(660deg);
}
}
#contact{
  display: flex;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-45px);
  text-shadow: $text-shadow;
  transition: 0.5s ease;
}

//Contact Section
@mixin contact {
  width: 2%;
  height: 4%;
  top: 49%;
  position: absolute;
  cursor: pointer;
  display: block;
}
#twitter{
  @include contact();
  left: 55%;
}
#linked{
  @include contact();
  left: 51%;
}
#fb{
  @include contact();
  left: 47%;
}
#out{
  @include contact();
  left: 43%;
}
#sqr{
  background-color: #d11e87;
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 27px -6px rgba(0,0,0,0.75);
  top: 60%;
  left: 2%;
  transform: rotate(30deg);
  animation: blink 40s ease-in-out infinite;
  box-shadow: 0px 0px 32px -9px rgba(209,30,135,1);
}

#moon{
  width: 80px;
  height: 100px;
  position: absolute;
  top: 26%;
  left: 13%;
  cursor: pointer;
}
#triangle{
  background-color: blue;
  width: 0px;
  height: 0px;
  border-bottom: 135px rgb(54, 111, 255) solid;
  border-left: 85px #fbfbfb solid;
  border-right: 85px #fbfbfb solid;
  border-top: 75px #fbfbfb solid;
  position: absolute;
  transition: .5s ease;
  left: 0;
  top: -12%;
}
$purple-color: rgba(116, 33, 250, 0.829);
#square2{
  background-color: rgba(116, 33, 250, 0.829);
  width: 130px;
  height: 130px;
  position: absolute;
  left: 60%;
  top: -1%;
  transform: rotate(-18deg);
  border-radius: 30px;
  box-shadow: 0px 0px 27px -6px rgba(0,0,0,0.75);

}
.shadow{
  width: 900px;
}
#circle{
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: rgba(255, 251, 1, 0.514);
  left: 90%;
  top: 60%;
  border-radius: 50%;
  box-shadow: 0px 0px 27px -6px rgba(0,0,0,0.25);
  cursor: pointer;
}
#myp{
  h3{
    width: 80%;
    text-align: center;
    border-bottom: 1px solid $purple-color;
    line-height: 0.1em;
    margin: auto;
    margin-top: 50px;
    span{
      background: #fbfbfb;
      padding: 0 40px;
    }
  }
}
@mixin btns {
  background: transparent;
  border: 1px solid $purple-color;
  cursor: pointer;
}

#project1{
  display: flex;
  background-color: #fbfbfb;
  width: 90%;
  margin: auto;
  margin-top: 70px;
  height: 280px;
  justify-content: space-between ;
  position: relative;
  border: 2px solid $purple-color;
  #preview{
    width: 500px;
    height: 100%;
    background-image: url(/images/aaa.png);
    background-size: cover;
    border: 8px solid #fbfbfb;
    border-radius: 11px;
  }
  p{
    width: 400px;
    display: inline-block;
    padding: 40px;
    background: rgb(255, 255, 255);
    height: 200px;
    margin-top: 40px;
    margin-left: 50px;
    border-radius: 10px;
    border: 1px solid $purple-color;
  }
  #btn1{
    @include btns();
    width: 150px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-45%, -45%);
    left: 20%;
    transition: .2s ease-in-out;

    
  }
  #btn2{
    @include btns();
    width: 150px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-45%, -45%);
    left: 70%;
    transition: .2s ease-in-out;
 
  }
 
  #btnz{
    position: relative;
    width: 30%;
    height: 20%;
    top: 40%;
  }
 
}

#project2{
  display: flex;
  background-color: #fbfbfb;
  width: 90%;
  margin: auto;
  margin-top: 70px;
  height: 280px;
  justify-content: space-between ;
  position: relative;
  border: 2px solid $purple-color;
  margin-top: 10vh;
  p{
    width: 400px;
    height: 200px;
    padding: 40px;
    background: rgb(255, 255, 255);
    margin-top: 40px;
    margin-right: 50px;
    border-radius: 10px;
    border: 1px solid $purple-color;
  }
  #preview2{
    width: 500px;
    height: 100%;
    border: 8px solid #fbfbfb;
    border-radius: 11px;
    background-image: url(/Z-Portfolio/images/Screenshot11.png);
    background-size: contain;
    background-repeat: no-repeat;
    
  }
  #btn3{
    @include btns();
    width: 150px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-45%, -45%);
    left: 20%;
    transition: .2s ease-in-out;
    
  }
  #btn4{
    @include btns();
    width: 150px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-45%, -45%);
    left: 70%;
    transition: .2s ease-in-out;
  }
  #btnz2{
    position: relative;
    width: 30%;
    height: 20%;
    top: 40%;

  }
}
#space{
  margin-top: 10vh;
}
#exp{
  h3{
    text-align: center;
    border-bottom: 1px solid $purple-color;
    line-height: .1em;
    width: 80%;
    margin: auto;
    margin-top: 70px;
    span{
      background: #fbfbfb;
      padding: 0 40px;
    }
  }
}
#f-line{
  width: 100%;
  height: 100px;
  background: transparent;
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  #f-f{
    width: 400px;
    height: 100%;
    border: 1px solid $purple-color;
    background:transparent;
    display: flex;
    justify-content: space-between;
    h3{
      padding: 40px;
      margin-right: 70px;
    }
    img{
      height: 100%;
    }
  }
  #f-s{
    width: 400px;
    height: 100%;
    background:transparent;
    border: 1px solid $purple-color;
    display: flex;
    justify-content: space-between;
    h3{
      padding: 40px;
      margin-right: 90px;
    }
    img{
      height: 100%;
    }
  }
}
#s-line{
  margin-top: 80px;
  width: 100%;
  height: 100px;
  background: transparent;
  display: flex;
  justify-content: space-evenly;
  #s-f{
    width: 400px;
    height: 100%;
    background:transparent;
    border: 1px solid $purple-color;
    display: flex;
    justify-content: space-between;
    h3{
      padding: 40px;
      margin-right: 110px;
    }
    img{
      height: 100%;
    }
  }
  #s-s{
    width: 400px;
    height: 100%;
    background:transparent;
    border: 1px solid $purple-color;
    display: flex;
    justify-content: space-between;
    h3{
      padding: 40px;
      margin-right: 100px;
    }
    img{
      height: 100%;
    }

  }
}
@media screen and (max-width: 1540px){
  #project1{
    
  
    #btnz{
      position: relative;
      top: 0%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
    }
    #btn1{
      position: absolute;
      margin-bottom: 20px;
      width: 150px;
      height: 50px;
      top: 20%;
      left: 35%;
      transform: none;
    }
    #btn2{
      position: absolute;
      margin-bottom: 20px;
      width: 150px;
      height: 50px;
      top: 60%;
      left: 35%;
      transform: none;
    }
  }
  #project2{
    
  
    #btnz2{
      position: relative;
      top: 0%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
    }
    #btn3{
      position: absolute;
      margin-bottom: 20px;
      width: 150px;
      height: 50px;
      top: 20%;
      left: 35%;
      transform: none;
    }
    #btn4{
      position: absolute;
      margin-bottom: 20px;
      width: 150px;
      height: 50px;
      top: 60%;
      left: 35%;
      transform: none;
    }
  }
}
@media screen and (max-width: 720px){
  body{
    overflow-x: hidden;
  }
  #project1{
    display: flex;
    flex-direction: column;
    height: 600px;
    #preview{
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
    }
    p{
      padding: 10px;
      width: 100%;
      margin-left: 0;
      padding: 20px 5px 20px 5px;
      margin-top: 15px;
      border-radius: 1px;
      border-top: none;
      border-left: none;
      border-right: none;
      box-shadow: 0px 5px 8px -5px rgba(0,0,0,0.25);
    }
    #btnz{
      display: flex;
      left: -15px;
      width: 100%;
      height: 100%;
    }
  }
  #project2{
    display: flex;
    flex-direction: column;
    height: 600px;
    #preview2{
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
    }
    p{
      padding: 10px;
      width: 100%;
      margin-left: 0;
      padding: 20px 5px 35px 5px;
      margin-top: 15px;
      border-radius: 1px;
      border-bottom: none;
      border-left: none;
      border-right: none;
      box-shadow: 0px -5px 8px -5px rgba(0,0,0,0.25);
    }
    #btnz2{
      display: flex;
      left: -15px;
      width: 100%;
      height: 100%;
    }
  }
  #f-line{
    width: 100%;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    height: 40vh;
    justify-content: space-around;
    #f-f{
      width: 100%;
      height: 30%;
    }
    #f-s{
      width: 100%;
      height: 30%;
    }
  }
  #s-line{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 40vh;
    flex-direction: column;
    justify-content: space-around;
    #s-f{
      width: 100%;
      height: 30%;
    }
    #s-s{
      width: 100%;
      height: 30%;
    }
  }
  #title{
    text-align: center;
  }
  #contact{
    left: 53%;
  }
  #twitter{
    width: 6%;
    left: 65%;
  }
  #linked{
    width: 6%;
    left: 55%;
  }
  #fb{
    width: 6%;
    left: 45%;
  }
  #out{
    width: 6%;
    left: 35%;
  }
}